{% extends 'profile/../profile_base.html' %}

{% block title %}
    Контакты
{% endblock %}

{% block sidebar %}
    <div class="profile">
        <h3 class="caps header">{{ request.user.username }}</h3>
    </div>
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url 'new-goal' username=request.user.username  %}"><i class="fa fa-flag" aria-hidden="true"></i> Поставить цель</a></li>
        <li><a href="{% url 'goals' username=request.user.username filter='all' %}"><i class="fa fa-bullseye" aria-hidden="true"></i> Мои цели</a></li>
        <br>
        <li><a href="{% url 'feed' username=request.user.username %}"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Лента</a></li>
        <li><a href="{% url 'subscription' username=request.user.username %}"><i class="fa fa-users" aria-hidden="true"></i> Подписки</a></li>
        <br>
        <li><a href="{% url 'settings' username=request.user.username %}"><i class="fa fa-cog" aria-hidden="true"></i> Настройки</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="block">
        <ul>
            <li><span class="header">Почта</span></li>
            <li>tmittr@gmail.com</li>
        </ul>
    </div>

{% endblock %}